
{% if user.is_authenticated %}

Connecté en tant que {{ user.username }}

<a href="{% url 'createtodo' %}">Créer</a>
<a href="{% url 'currenttodos' %}">En cours</a>
<a href="{% url 'completedtodos' %}">Terminées</a>

<form action="{% url 'logoutuser' %}" method="POST">
    <!-- csrf_token est une chose cachée donc elle peut aller n'importe où dans la page -->  
    {% csrf_token %}
    <button type="Submit">Se déconnecter</button>
</form>

{% else %}

<a href="{% url 'signupuser' %}">S'inscrire</a>
<a href="{% url 'loginuser' %}">Se connecter</a>

{% endif %}
<br><br>

{% block content %}{% endblock %}